<nav>
  <a href="/dogs">Dogs</a>
  <a href="/dogs/new">New dogs</a>
  <a href="/dogs/angry">Angry Dogs</a>
</nav>

<footer>
  <a href="/angry">Angry Dog</a>
  <a href="/angry/new">New Angry Dog</a>
</footer>
