nav {
  background-color: black;
  height:50px;
  position: absolute;
  top:0px;
  width: 100%;
  left:0px;
  word-spacing: 20px;
}

nav a {
  color:white;
  font-size: 30px;
  text-decoration: none;
  background-color: grey;
}

h1 {
  margin-top: 60px;
}

form {
  display: inline-grid;
  width: 50px;
  height:200px;
}

footer{
  position: absolute;
  top:1000px;
  height:60px;
  width:100%;
  left:0px;
  background-color: purple;
}

footer a{
  font-size: 30px;
  color:white;
  word-spacing: 20px;
  text-decoration: none;
}
