
<div class="container">
  <div class="explain">
    <h1>Welcome to the Dog Fanatics Website!</h1>
    <p>Dogs Rule is a website where you can post and talk about your dogs with other dog lovers</p>
    <p>We're a community that stays positive (probably because of our dogs) and like to share that positivity with eachother. Therefore please keep any negative comments to yourself! There is no limit to how many photos you want to post and please tell us everything you want about your loved ones!</p>
    <h2>Go to the main page to see and submit your own dog posts</h2>
  </div>
</div>
