<h1>Here you can add new dogs</h1>
<form class="" action="index.html" method="post">
  <input type="text" name="" placeholder="Dog Name">
  <input type="text" name="" placeholder="Dog Breed">
  <input type="link" name="" placeholder="Link to image">
</form>
